doctype html
html
    head
        meta(charset='utf-8')
        title 天时 - iMumu的个人博客
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='iMumu的个人博客')
        meta(name='author', content='iMumu<imumu@foxmail.com>')
        meta(name='keywords', content='天时,个人博客,web,html5,javascript,js,css,css3')
        style
            include /www/css/home.css
    body
        section.ts-jumbotron
            include /src/templates/logo.jade

        section.ts-content
            each article in articles
                .ts-card
                    h1.title #{article.title}
                    p.meta #{article.date}
                    img.thumbnail(src='#{article.img}')
                    p.desc #{article.desc}
                    button.readmore-btn 阅读全文
