.ts-logo.center-block(style='position:relative; border-radius:100%; background:#fff;')
    .moon(style='position:absolute; border-radius:100%; z-index:1; background:#2d89ef; top:5%; right:5%; width:90%; height:90%;')
    .light(style='position:absolute; border-radius:100%; z-index:2; background:#fff; top:5%; right:5%; width:75%; height:75%;')
    .sun(style='position:absolute; border-radius:100%; z-index:3; background:#ffc40d; top:10%; right:10%; width:65%; height:65%;')