@desktopWidth: 768px;

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.ts-jumbotron {
    padding: 30px 0;
    background-color: #2b5797;

    .ts-logo {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }

    .title, .subtitle {
        color: #fff;
        text-align: center;
    }

    .title {
        margin: 10px auto;
        font-size: 24px;
        line-height: 1;
        span:first-child {
            margin-right: 24px;
        }
    }

    .subtitle {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
    }

    @media (min-width: @desktopWidth) {
        padding: 100px 0;

        .ts-logo {
            width: 160px;
            height: 160px;
        }

        .title {
            margin: 30px auto;
            font-size: 60px;
            span:first-child {
                margin-right: 40px;
            }
        }

        .subtitle {
            font-size: 20px;
        }
    }
}

.ts-content {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.ts-card {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);

    .title {
        margin: 0;
        font-size: 20px;
        line-height: 1;
    }

    .meta {
        margin: 10px auto;
        font-size: 14px;
        line-height: 1;
        color: #777;
    }

    .thumbnail {
        display: block;
        margin: 0;
        max-width: 100%;
        @media (min-width: 640px) {
            width: 640px;
            height: 200px;
        }
    }

    .desc {
        margin: 7px auto;
        font-size: 14px;
        line-height: 1.5;
    }

    .readmore-btn {
        margin: 0;
        color: white;
        background-color: #2b5797;
        border: none;
        font-size: 14px;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }

    @media (min-width: @desktopWidth) {
        margin: 20px auto;
        padding: 60px 80px;

        .title {
            font-size: 30px;
        }

        .meta {
            margin: 15px auto;
            font-size: 20px;
        }

        .desc {
            margin: 10px auto;
            font-size: 20px;
        }

        .readmore-btn {
            font-size: 20px;
            width: 120px;
            height: 50px;
        }
    }


}
